page-monster {

}

.main-container {
	background-color: $violet;
}

.no-space {
	margin: 0;
	padding: 0;
}

.heading {	
	color: $white;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}


.text {
	color: $white;

}

.icon {
	margin-right: 20px;
}