page-bee {

}
 .main-container {
	background-color: #fff;
}

.no-space {
	margin: 0;
	padding: 0;
}

.heading {	
	color: $yellow;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}


.text {
	color: $white;

}

.icon {
	margin-right: 20px;
}