page-water {

}
 .main-container-water {
	background-color: $blue;
}


.heading {	
	color: $darkblue;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}


.text {
	color: $white;

}

.icon {
	margin-right: 20px;
}
