.tutorial-page {

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 10px;
    
  }

  .slide-image {
    max-height: 30%;
    max-width: 30%;
    margin: 5px 0;
  
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.5;
    color: $white;

    b {
      color: #000000;
    }
  }

}

.intro-bg{
background-image: url("../../assets/imgs/bg-intro.png");
background-size: cover;

}


.buttonintro{
  margin-top: 10px;
  border-radius: 50px;
  padding: 30px 80px;
  font-family: Marker;
  font-size: 30px;
  text-align: center;
  color: $white;
}
